body {
    display: flex;
    background-color: white;
    margin: 0px;
    padding: 0px;
    color: black;
    height: 100vh;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}